button {
  margin-right: 8px;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  background-color: #f6f6f6;
  cursor: pointer;
}

.todoItem {
  background: #16c79a;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;
}

.todoItem > p {
  flex: 1;
}

.todoItem__done {
  text-decoration: line-through;
}
